


  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/style.css">
      <title>Server Tracker - Clock</title>
  </head>
  <body>

    <div class="parent-container">
        <div id="wall" class="wall">
            <div id="clock" class="clock">
                <div class="hours-container">
                <div class="hours"></div>
                </div>
                <div class="minutes-container">
                <div class="minutes"></div>
                </div>
                <div class="seconds-container">
                <div class="seconds"></div>
                </div>
                
                <label class="hour-label one">1</label>
                <label class="hour-label two">2</label>
                <label class="hour-label three">3</label>
                <label class="hour-label four">4</label>
                <label class="hour-label five">5</label>
                <label class="hour-label six">6</label>
                <label class="hour-label seven">7</label>
                <label class="hour-label eight">8</label>
                <label class="hour-label nine">9</label>
                <label class="hour-label ten">10</label>
                <label class="hour-label eleven">11</label>
                <label class="hour-label twelve">12</label>
            </div>  

        </div>
        <div id="statusdiv" class="status">
            ...
        </div>

        <div class="button">
            <button id="getreport">Get Report</button>
        </div>
        
    </div>
    <div class="report-container" >
        <div id="close">Close</div>

        <div class="report-header">Actual time program started: <span id="timestarted"></span></div>
        <table id="reporttable">

        </table>
    </div>
    <script src="/static/js/script.js"></script>
      
  </body>
  </html>
